.x-grid-row .active,
.x-grid-row-alt .active {
    background: green;
}
.x-grid-row .complete,
.x-grid-row-alt .complete {
    background: #ccc;
}

.x-dashboard > .x-panel-body{
    padding-top: 5px;
}

.x-portlet {
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 1px;
}

.x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.x-field-help .x-panel-body {
    border: 0;
    color: #ccc;
}

.x-field-help .x-panel-body:hover {
    color: #000;
}

#app-sidebar .x-btn {
    display: block;
}

.x-btn-icon .dashboard {
    background: url('images/dashboard.png');
}

.x-btn-icon .tasks {
    background: url('images/tasks.png');
}

.x-btn-icon .processes {
    background: url('images/processes.png');
}

.x-btn-icon .messages {
    background: url('images/messages.png');
}

.x-btn-icon .administration {
    background: url('images/administration.png');
}
